{% extends "layout.html" %} {% block body %}

<div id="color" class="kgc-scenario kgc-content-box mdl-cell mdl-cell--12-col">
  <div class="mdl-card">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Robogator Night/Day Movement</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <ul>
        <li><strong>Scenario</strong>: When Robogator senses darkness he stops. When he senses light he moves.</li>
        <li><strong>Motors</strong>: Both leg motors</li>
        <li><strong>Sensors</strong>: Color sensor</li>
        <li><strong>How We Do It</strong>: Robogator's color sensor can detect black, white, blue, green, yellow and red colors.</li>
      </ul>
      <div id="kgc-result">inactive</div>
    </div>
    <div class="mdl-card__actions">
      <button id="activate" class="mdl-button mdl-js-button mdl-button--raised">Activate Color Sensor</button>
      <button id="deactive" class="mdl-button mdl-js-button mdl-button--raised">Deactivate Color Sensor</button>
    </div>
  </div>
</div>

<script>
  var legs = 0x01 + 0x08;
  var colorPort = 0x02;
  var colorType = 12;
  var walkSpeed = -50;
  var colorNames = ["black", "blue", "green", "yellow", "red", "white"];
  var stopping = false;
  var kgcResult = document.getElementById('kgc-result');
  
  function onOpen(evt) {
    console.log('connection ready', evt);
  }

  function onMessage(data) {
    console.log(data);
    if (data.result.values.length > 0) {
      if (!stopping) {
          var colors = data.result.values[0];
          console.log('colors[0]',colors[0]);
          var color = 'white';
          if (colors.length == 5 && colors[0]>=1 && colors[0]<=6) {
            color = colorNames[colors[0] - 1];
          }
          console.log('color', color);
          kgcResult.innerHTML = color == 'white' ? 'day' : 'night';
          var legSpeed = color == 'white' ? walkSpeed : 0;
          sendMessage({
            actions: [
              ['set_motor_power', legs, legSpeed],
              ['sleep', 0.02],
              ['get_sensor', colorPort]
            ]
          });
        }
        else {
          stopping = false;
        }
    }
  }

  function onAction(evt) {
    console.log(evt);
    if (evt.type == 'click') {
      var id = evt.target.id;
      if (id == "activate") {
        sendMessage({
          actions: [
            ['set_sensor_type', colorPort, colorType],
            ['sleep', 0.02],
            ['get_sensor', colorPort]
          ]
        });
      }
      else if (id == "deactivate") {
        stopping = true;
        kgcResult.innerHTML = 'inactive';
        sendMessage({
          actions: [
            ['set_sensor_type', colorPort, 1],
            ['set_motor_power', legs, 0],
            ['sleep', 0.02]
          ]
        });
      }
    }
  }

</script>

{% endblock %}
