<!doctype html>
<!--
  Based on material-design lite dashboard template https://getmdl.io/templates/dashboard/index.html
-->
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A basic control dashboard for Krishna's robot.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Krishna's Robogator Controller</title>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='android-desktop.png') }}">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">
  <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='ios-desktop.png') }}">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="{{ url_for('static', filename='ms-touch-icon-144x144-precomposed.png') }}">
  <meta name="msapplication-TileColor" content="#3372DF">

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link href="static/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
  <!--link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"-->
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
  </style>
</head>

<body>
  <div class="kgc-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="kgc-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Krishna's Robogator Controller / {{ section }}</span>
        <div class="mdl-layout-spacer"></div>
      </div>
    </header>
    <div class="kgc-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
      <header class="kgc-drawer-header">
        <img src="{{ url_for('static', filename='robogator.png') }}">
      </header>
      <nav class="kgc-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href="/home"><i class="mdi mdi-home mdi-36px" role="presentation"></i>&nbsp;&nbsp;Home</a>
        <a class="mdl-navigation__link" href="/think"><i class="mdi mdi-eye mdi-36px" role="presentation"></i>&nbsp;&nbsp;Think</a>
        <a class="mdl-navigation__link" href="/walk"><i class="mdi mdi-arrow-all mdi-36px" role="presentation"></i>&nbsp;&nbsp;Walk</a>
        <a class="mdl-navigation__link" href="/attack"><i class="mdi mdi-format-horizontal-align-right mdi-36px" role="presentation"></i>&nbsp;&nbsp;Attack</a>
        <a class="mdl-navigation__link" href="/color"><i class="mdi mdi-weather-sunset-down mdi-36px" role="presentation"></i>&nbsp;&nbsp;Night/Day</a>
        <a class="mdl-navigation__link" href="/jaws"><i class="mdi mdi-food mdi-36px" role="presentation"></i>&nbsp&nbsp;Jaws</a>
      </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-grid kgc-content">
        {% block body %}{% endblock %}
      </div>
    </main>
  </div>
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>
