{% extends "layout.html" %} {% block body %}

<div id="think" class="kgc-scenario kgc-content-box mdl-cell mdl-cell--12-col">
  <div class="mdl-card">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Make Robogator Think</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <ul>
        <li><strong>Scenario</strong>: We will see a slow blinking light come on at the back of the robogator's “brain.”</li>
        <li><strong>Motors</strong>: None</li>
        <li><strong>Sensors</strong>: None</li>
        <li><strong>How We Do It</strong>: We slowly set the value of the LED brightness from 0% to 100%, and then back down
          to 0% again, pausing briefly in between.</li>
      </ul>
    </div>
    <div class="mdl-card__actions">
      <button id="spin" class="kgc-action-button mdl-button mdl-js-button mdl-button--raised">Start</button>
      <button id="stop" class="kgc-action-button mdl-button mdl-js-button mdl-button--raised">Stop</button>
    </div>
  </div>
</div>

<script>

  var currentDirection = "up";
  var currentLevel = 0;

  function onOpen(evt) {
    console.log('connection ready', evt);
  }

  function onMessage(data) {
    if (data.result.code == 0) {
      var level = data.action[1];
      if (currentDirection == "up") {
        level = Math.max(level, currentLevel) + 1;
        if (level > 100) {
          level = 99;
          currentDirection = "down";
        }
      }
      else {
        level = Math.min(level, currentLevel) - 1;
        if (level < 0) {
          level = 1;
          currentDirection = "up";
        }
      }
      currentLevel = level;
      console.log('set_led', currentLevel);
      sendMessage({
        action: ['set_led', currentLevel]
      });
    }
    else {
      console.log(data.result);
    }
  }

  function onAction(evt) {
    console.log(evt);
    if (evt.type == 'click') {
      var id = evt.target.id;
      if (id == "spin") {
        sendMessage({
          action: ['set_led', 0]
        });
      } 
    }
  }

</script>

{% endblock %}
